services:
  fortpolio:
    build: ./web
    ports:
      - '3005:3000'
    environment:
      - NODE_ENV=production
      - ${FORT_BACKEND_PORT}=${FORT_BACKEND_PORT}
      - ${FORT_PG_HOST}=${FORT_PG_HOST}
      - ${FORT_PG_PORT}=${FORT_PG_PORT}
      - ${FORT_PG_USER}=${FORT_PG_USER}
      - ${FORT_PG_PASSWORD}=${FORT_PG_PASSWORD}
      - ${FORT_PG_DATABASE}=${FORT_PG_DATABASE}
    depends_on:
      - db
    networks:
      - default
      - deeverse_proxy
      - shared_services # mail proxy

  db:
    image: postgres:13
    ports:
      - '5433:5432'
    user: '1000:1000'
    environment:
      POSTGRES_DB: ${FORT_PG_DATABASE}
      POSTGRES_USER: ${FORT_PG_USER}
      POSTGRES_PASSWORD: ${FORT_PG_PASSWORD}
    volumes:
      - fortpolio:/var/lib/postgresql/data
    networks:
      - default
      - deeverse_proxy

volumes:
  fortpolio:

networks:
  deeverse_proxy:
    external: true
  shared_services:
    external: true
